// https://github.tumblr.net/Tumblr/tumblr/tree/279a7aec5cb51960de9844af0546f142ff32012a/client/standalone/blog-network-npf/styles
$post-full-width: 540px;
$post-full-radius: 3px;
$post-full-v-padding: 15px;
$post-full-h-padding: 20px;
$post-full-note-item-h-padding: 14px;
$color-post-members-only: #900020;

$font-size-content: 14px;
$line-height-content: round(1.5 * $font-size-content);

// those match NPF heading size better
$font-size-content-heading1: 26px;
$line-height-content-heading1: round(1.3 * $font-size-content-heading1);
$font-size-content-heading2: 20px;
$line-height-content-heading2: round(1.3 * $font-size-content-heading2);

$font-size-content-heading-medium: 30px;
$line-height-content-heading-medium: round(1.3 * $font-size-content-heading-medium);
$font-size-content-heading-large: 36px;
$line-height-content-heading-large: round(1.3 * $font-size-content-heading-large);

$font-size-pre: 11px;
$line-height-pre: $font-size-pre;

$font-size-icon: 24px;
$line-height-icon: 24px;

$font-size-base: $font-size-content;
$line-height-base: 1.4;

$font-size-post-text-quirky: 24px;
$line-height-post-text-quirky: 1.3em;

//
// ## Font Families
//
// Defines the standard font families that we use.
//

// These omit `serif` and `sans-serf` to make it possible to splice in additional fallbacks
$font-family-sans-face: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial;
$font-family-serif-face: Georgia, Times, 'Times New Roman';
$font-family-monospace-face: Courier;

// Standard faces
$font-family-sans: $font-family-sans-face, sans-serif;
$font-family-serif: Georgia, Times, 'Times New Roman', serif;
$font-family-monospace: $font-family-monospace-face, monospace;
$font-family-korean: $font-family-sans-face, "AppleGothic", "Malgun Gothic", "Dotum", "Gulim", sans-serif;

// Named faces
$font-family-gibson: "Gibson", $font-family-sans;
$font-family-walsheim: "Walsheim", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
$font-family-franklin-medium: "Franklin Gothic Medium", $font-family-sans;
$font-family-franklin-medium-condensed: "Franklin Gothic Medium Condensed", $font-family-sans;
$font-family-franklin-compressed: "Franklin Gothic Compressed", $font-family-sans;
$font-family-source-code-pro: 'Source Code Pro', $font-family-monospace;

// Default "app" font family
$font-family-base: $font-family-sans;





//
// # Tumblr Color Palette
//
// These are the main colors that we use throughout the site and UI.
//
// Names should rellect
//

//
// ## Named Colors
//
// [Style Guide](https://github.tumblr.net/pages/Tumblr/tumblrstyleguide/style/colors/)
//
// If it's worth being a color and it's not a mix of some other colors, put it here.
// The ONLY exception to this rule is if there is some kind of one-off page that isn't using the
// standard set of Tumblr-y colors in the first place.
//

$color-white: #ffffff;
$color-black: #000000;
$color-tumblr-black: #444444;
$color-tumblr-blue: #36465d;
$color-tumblr-dark-blue: #001935;


//
// ### "Colorful" Basics
//
// These are the go-tos for the creative team when they need a Tumblr-y color palette.
//

$color-dank-smoke: #9da6af;
$color-gloomy-cloud: #748089;
// The below have Neue Color variants
$color-likable-red: #d95e40;
$color-cheezbort: #f2992e;
$color-always-sunny: #f7dd38;
$color-reblog-green: #56bc8a;
$color-neat-blue: #529ecc;
$color-purple-rain: #a77dc2;

//
// ### Tumblr Neue Colors
//
// These are the colors we use for Tumblr's Neue branding.
//

// These replace old accent colors
$color-joey: #ff492f; // Red
$color-monica: #ff8a00; // Orange
$color-phoebe: #e8d73a; // Yellow
$color-ross: #00cf35; // Green
$color-rachel: #00b8ff; // Light Blue
$color-chandler: #7c5cff; // Purple
// These are new
$color-frasier: $color-tumblr-dark-blue; // Dark Blue, new brand color
$color-niles: #ff62ce; // Pink
$color-mr-big: #000c1a; // Off-Black
$color-explicit-red: #FF4930; // project x red


//
// ### 50 Shades of Gray
//
// The grays that we use on the site (aside from the default button gray) must all be mixtures of
// white an "Tumblr black," which allows us to specify the colors as percentage mixes.
//

$color-gray-100: $color-tumblr-black; // #444444

$color-gray-60: prima-mix($color-tumblr-black, 0.60); // #8f8f8f
$color-gray-40: prima-mix($color-tumblr-black, 0.40); // #b4b4b4
$color-gray-25: prima-mix($color-tumblr-black, 0.25); // #d0d0d0
$color-gray-13: prima-mix($color-tumblr-black, 0.13); // #e7e7e7
$color-gray-7: prima-mix($color-tumblr-black, 0.07); // #f2f2f2

//
// ### 50 Transparent Verisons of Black
//
// These are transparent versions of Tumblr black, which one would use for dark text on a light
// background when you're not committed to matting on white, such as when highlighting a row in a
// menu or table with a background color.
//
// Probably you won't need these, but they are here in case you do.
//

$color-gray-60-transparent: unmatte-gray($color-gray-60); // rgba(0, 0, 0, 0.439216)
$color-gray-40-transparent: unmatte-gray($color-gray-40); // rgba(0, 0, 0, 0.294118)
$color-gray-25-transparent: unmatte-gray($color-gray-25); // rgba(0, 0, 0, 0.184314)
$color-gray-13-transparent: unmatte-gray($color-gray-13); // rgba(0, 0, 0, 0.0941176)
$color-gray-7-transparent: unmatte-gray($color-gray-7); // rgba(0, 0, 0, 0.0509804)


//
// ### 50 Transparent Versions of White
//
// These are transparent versions of white, which are similar to the blue-grays above, but can be used
// over any dark background, not just tumblr-blue.
//

$color-white-60-transparent: prima-mix($color-white, 0.60, transparent); // rgba(255, 255, 255, 0.6);
$color-white-40-transparent: prima-mix($color-white, 0.40, transparent); // rgba(255, 255, 255, 0.4);
$color-white-25-transparent: prima-mix($color-white, 0.25, transparent); // rgba(255, 255, 255, 0.25);
$color-white-13-transparent: prima-mix($color-white, 0.13, transparent); // rgba(255, 255, 255, 0.13);
$color-white-7-transparent: prima-mix($color-white, 0.07, transparent); // rgba(255, 255, 255, 0.07);


@mixin brandBlue($prop) {
	#{$prop}: $color-tumblr-dark-blue;
}

@mixin brandBlueGray($prop, $percent) {
	#{$prop}: prima-mix($color-white, 1 - $percent, $color-tumblr-dark-blue);
}

@mixin transparentBrandBlue($prop, $opacity) {
	#{$prop}: rgba($color-tumblr-dark-blue, $opacity);
}

$accentColors: (
	'red': $color-joey,
	'orange': $color-monica,
	'yellow': $color-phoebe,
	'green': $color-ross,
	'blue': $color-rachel,
	'purple': $color-chandler,
	'black': $color-black,
	// yes, "video" is not a color, but video posts semantically change color with this update from bluish-gray to pink, so
	'video': $color-niles,
);

@function newAccentColor($color) {
	@if (not map_has_key($accentColors, $color)) {
		@error 'Unrecognized accent color "#{$color}" in accentColor mixin';
	}

	@return map-get($accentColors, $color);
}

@mixin accentColor($prop, $color) {
	#{$prop}: newAccentColor($color);
}

@mixin updatedWhite($opacity: 1, $prop: color) {
	#{$prop}: rgba($color-white, $opacity);
}

@mixin updatedBlack($opacity: 1, $prop: color) {
	#{$prop}: rgba($color-black, $opacity);
}

@import 'text';
@import 'link';
@import 'video';
@import 'image';